@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<QueJugadorApp.Models.Entity.Player>

<h1 class="text-center mb-4">Players List</h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="text-dark text-center">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>
                    <div class="d-flex justify-content-center align-items-center">
                        <span>Age</span>
                        <div class ="d-flex flex-column ms-2">
                            <a asp-action="List" asp-route-sortOrder="asc" class="sort-arrow">&#9650;</a>
                            <a asp-action="List" asp-route-sortOrder="desc" class="sort-arrow">&#9660;</a>
                        </div>
                    </div>
                </th>
                <th>Address</th>
                <th>Email ID</th>
                <th>Phone Number</th>
                <th>Position</th>
                <th>Squad</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var Player in Model)
            {
                <tr>
                    <td>@Player.Id</td>
                    <td>@Player.PlayerName</td>
                    <td>@Player.Age</td>
                    <td>@Player.PlayerAddress</td>
                    <td>@Player.PlayerMail</td>
                    <td>@Player.PlayerPhone</td>
                    <td>@Player.PlayerPosition</td>
                    <td>@Player.PlayerGroup</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="MyPlayers" asp-action="Edit" asp-route-Id="@Player.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<style>
    .sort-arrow {
        line-height: 1; 
    }
</style>